.heading{
    width: 100%;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    margin-top: 0px;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 2px peachpuff solid;
    font-size: 40px;

}

h4{
    line-height:2;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    background-color: purple;
    margin:0px;
}

canvas{
    border:peachpuff solid;
}

#cam{
    margin-left: 50px;
    margin-top: 5px;
}
